extends ../layouts/main.pug

block content
    div.container.py-5
            .row
                div.col-md-6.m-auto
                    div.card.p-5
                        h1=title
                        include ../partials/message.pug
                        form(action="/user/login", method="POST")
                            .form-group
                                label(for='email') Email:
                                input(type='email', class='form-control', placeholder='Enter your email', id='email', name='email')
                            .form-group
                                label(for='password') Password:
                                input(type='password', class='form-control', placeholder='Enter your password', id='password', name='password')
                            button.btn.btn-primary(type="submit") Login Now
                            a.float-right(href="/") Back Home